@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  button{
    @apply
    font-semibold
    transition-colors ease-in duration-100
    hover:text-green-500
    active:text-green-600
  }

  input{
    @apply
    bg-[#e6e6e6] rounded-md pl-3 w-32 truncate
  }
  select{
    @apply
    bg-[#e6e6e6] rounded-md pl-3 w-32 truncate
  }
  
  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    @apply
    w-2
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply
    bg-slate-100 rounded-full
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply
    bg-[#b6b6b6] rounded-full
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply
    bg-[#919191]
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(22, 22, 22, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}